/* layout */
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

p {
  margin: 0; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

html, body {
  height: 100%; }

.container {
  min-height: 650px;
  margin: 0 auto;
  max-width: 1100px; }

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden; }

.section {
  min-height: 100vh; }

body {
  font-size: 1rem;
  font-family: 'Ubuntu', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  line-height: 1.42;
  color: #221f1f; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* section */
.header {
  position: absolute;
  z-index: 1;
  min-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container__header {
  min-height: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo {
  margin-top: 0.75rem;
  padding-left: 4.8125rem; }
  @media screen and (max-width: 768px) {
    .logo {
      padding-left: 1.25rem; } }

.menu__container {
  text-align: right; }

.header__menu {
  vertical-align: middle;
  margin-right: 1.25rem; }
  @media screen and (max-width: 768px) {
    .header__menu {
      display: none; } }

@media screen and (max-width: 768px) {
  .header__menu--active {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(50, 52, 52, 0.9); }
    .header__menu--active .menu__item--recieve {
      display: none; }
    .header__menu--active .menu__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .header__menu--active .menu__item {
      margin-top: 10px; }
      .header__menu--active .menu__item:before {
        display: block;
        margin: 0 auto; }
    .header__menu--active .menu__link {
      font-size: 1.5rem; } }

.hamburger-menu-link {
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu-link {
      border: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

@media screen and (max-width: 768px) {
  .hamburger-menu-link-container {
    z-index: 1; } }

.hamburger-menu-link__bars {
  text-decoration: none;
  border: 0;
  margin-right: 20px;
  height: 25px;
  width: 25px;
  background: url(../img/header/menu_btn.png) center center no-repeat;
  background-size: cover; }
  @media screen and (max-width: 768px) {
    .hamburger-menu-link__bars {
      z-index: 1; }
      .hamburger-menu-link__bars--active {
        background: url(../img/header/close.png) center center no-repeat;
        background-size: cover; } }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Ubuntu;
  font-size: 0.8125rem;
  color: white; }

.menu__item:before {
  content: "";
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  vertical-align: middle;
  background-color: white;
  margin-right: 0.8125rem;
  margin-left: 0.8125rem; }

.menu__item:first-child:before {
  content: none; }

.menu__item:last-child:before {
  content: none; }

.menu__item--recieve {
  margin-left: 0.6875rem; }

.logo__pic {
  width: 5.75rem;
  height: 4.3125rem;
  background-size: contain;
  vertical-align: middle; }

.recieve {
  vertical-align: middle;
  width: 6.0625rem;
  height: 2.1875rem;
  background-color: #e45028;
  border: 0rem;
  border-radius: 0.3125rem;
  text-transform: uppercase;
  font-family: Ubuntu;
  font-size: 0.8125rem;
  font-weight: 500;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    .recieve {
      margin-right: 1.25rem; } }

@media screen and (max-width: 480px) {
  .header__recieve-btn {
    margin-top: 8px;
    display: block; } }

@media screen and (max-width: 768px) {
  .header__recieve-btn {
    margin-top: 8px;
    display: block; } }

.caption {
  display: block;
  font-family: gagalinregular;
  font-size: 4.5rem;
  line-height: 5.3125rem;
  color: #f9b43b;
  font-weight: 400;
  margin: 0rem; }
  @media screen and (max-width: 768px) {
    .caption {
      font-size: 3.75rem;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .caption {
      font-size: 3.125rem;
      padding-top: 0; } }

.hero {
  position: relative;
  background: url(../img/hello/video-bg.png) center center;
  background-size: cover;
  width: 100%; }

.hero__block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.container__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: .9;
  -ms-flex: .9;
  flex: .9;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .hero__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.hero__desc {
  color: #fff;
  font-family: 'lifehackmedium';
  font-size: 4.0625rem;
  font-weight: 400;
  text-transform: lowercase;
  line-height: 3.75rem;
  color: #ffffff; }
  @media screen and (max-width: 768px) {
    .hero__desc {
      font-size: 2.8125rem;
      text-align: center; } }

.hero__pic {
  width: 42%; }
  @media screen and (max-width: 768px) {
    .hero__pic {
      width: 60%; } }

.hero__text {
  width: 40%; }
  @media screen and (max-width: 768px) {
    .hero__text {
      width: 100%; } }

.hero__pic-img {
  max-width: 97%; }

.best {
  width: 100%;
  background-image: url(../img/advantage/advg_bg.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 6rem; }
  @media screen and (max-width: 768px) {
    .best__list {
      padding-top: 3.125rem; } }
  @media screen and (max-width: 480px) {
    .best__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 0;
      padding-bottom: 100px; } }

.best__icon {
  width: 100%;
  height: 5.625rem; }
  .best__icon-meat {
    fill: #e05132; }
  .best__icon-hand {
    fill: #f7b348; }
  .best__icon-natural {
    fill: #8bbe48; }

@media screen and (max-width: 480px) {
  .best__pic {
    width: 20%; } }

.best__title {
  text-align: center;
  font-family: 'lifehackmedium';
  font-size: 1.5rem;
  color: #2f3234;
  line-height: 1.75875rem;
  margin-top: 1.25rem; }
  @media screen and (max-width: 480px) {
    .best__title {
      text-align: left;
      font-size: 1.2rem;
      margin-top: 0; } }

.best__desc {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.50438rem;
  margin-top: 0.9375rem; }
  @media screen and (max-width: 480px) {
    .best__desc {
      text-align: left;
      margin-top: .4rem; } }

@media screen and (max-width: 480px) {
  .best__desc-text {
    font-size: .8rem;
    line-height: 1.125rem; } }

.best__item {
  width: 28%; }
  @media screen and (max-width: 768px) {
    .best__item {
      width: 29%; } }
  @media screen and (max-width: 480px) {
    .best__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 90%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

@media screen and (max-width: 480px) {
  .best__info {
    width: 70%; } }

.caption--center {
  text-align: center; }

.caption--black {
  color: #303334; }

.caption--best {
  padding-top: 6.25rem; }
  @media screen and (max-width: 768px) {
    .caption--best {
      padding-top: 5rem; } }
  @media screen and (max-width: 480px) {
    .caption--best {
      padding-top: 4rem; } }

.reviews {
  min-height: 100vh; }

.container--reviews {
  max-width: 100vw;
  margin: 0; }

.reviews__list {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative; }

.reviews__item {
  margin: 0;
  padding: 0;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-size: cover;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }
  .reviews__item:hover .reviews__content {
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; } }

.reviews__content {
  width: 100%;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  background: rgba(20, 20, 20, 0.7);
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 480px) {
    .reviews__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.reviews__title {
  font-family: 'gagalinregular', Arial, serif;
  font-size: 0.875rem;
  color: white;
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%; }
  @media screen and (max-width: 768px) {
    .reviews__title {
      text-align: center;
      margin-top: 15px; } }

.reviews__desc {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: white;
  line-height: 1.5rem;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%; }
  @media screen and (max-width: 768px) {
    .reviews__desc {
      margin-top: 2%;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .reviews__desc {
      display: none; } }

.reviews__btn {
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  text-transform: uppercase;
  width: 6.875rem;
  height: 2.1875rem;
  color: white;
  border: #2f3234;
  border-radius: 0.3125rem;
  background: #2f3234;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%; }
  @media screen and (max-width: 768px) {
    .reviews__btn {
      margin: 0 auto;
      margin-top: 2%;
      margin-bottom: 2%; } }
  @media screen and (max-width: 480px) {
    .reviews__btn {
      width: 7.5rem;
      margin: 0 auto;
      margin-top: 5%;
      margin-bottom: 5%; } }

@media screen and (max-width: 480px) {
  .reviews__btn-text {
    display: none; } }

.reviews__btn-text-phones {
  display: none; }
  @media screen and (max-width: 480px) {
    .reviews__btn-text-phones {
      width: 100%;
      display: inline; } }

.team {
  position: relative;
  background: url(../img/team/team_bg.png) center center no-repeat;
  background-size: cover; }

.continer__team {
  max-width: 100vw; }

.team__container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .team__container {
      width: 100%; } }

.team__acco-item--active .team__acco-trigger {
  color: #f8b349; }
  .team__acco-item--active .team__acco-trigger:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.team__acco-item--active .team__acco-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .team__acco-item--active .team__acco-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.team__acco-item {
  margin-bottom: 10%; }
  .team__acco-item:last-child {
    margin-bottom: 0; }
  @media screen and (max-width: 768px) {
    .team__acco-item {
      margin-bottom: 5%;
      text-align: center; } }

.team__content {
  width: 60%; }

.caption--team {
  margin: 0;
  margin-top: 15%;
  margin-bottom: 10%;
  padding: 0; }

.team__acco-avatar {
  height: 6.25rem;
  width: 6.25rem; }

.team__acco-article {
  margin-left: 5%; }

.team__acco-article-title {
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff; }

.team__acco-article-text {
  font-size: 0.875rem;
  color: #fff;
  margin-top: 10%; }

.team__acco-content {
  margin-top: 5%;
  margin-left: 5%;
  display: none; }

.team__acco-trigger {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  color: #fff;
  font-family: 'gagalinregular';
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .team__acco-trigger:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border: 0.5625rem solid transparent;
    border-top-color: #f8b349;
    border-bottom-width: 0px; }
  @media screen and (max-width: 768px) {
    .team__acco-trigger {
      margin: 0 auto; } }

.selection {
  background-image: url(../img/selection/selection_bg.png);
  background-size: cover;
  position: relative; }

.caption--selection {
  position: absolute;
  padding-top: 2%;
  padding-left: 2%; }

.container__selection {
  max-width: 100vw; }

.selection__content {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 70%; }
  @media screen and (max-width: 480px) {
    .selection__content {
      width: 100%; } }

.selection__acco {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.selection__acco-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.selection__acco-trigger {
  border: 0;
  padding: 0;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .selection__acco-trigger--meat {
    background: url(../img/selection/meat.png) no-repeat;
    background-size: cover; }
  .selection__acco-trigger--vegan {
    background: url(../img/selection/vegan.png) no-repeat;
    background-size: cover; }
  .selection__acco-trigger--diet {
    background: url(../img/selection/diet.png) no-repeat;
    background-size: cover; }
  @media screen and (max-width: 768px) {
    .selection__acco-trigger {
      width: 3.75rem; } }

.selection__acco-item-title {
  margin: 0;
  padding: 0;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  font-family: 'gagalinregular';
  font-size: 2.5rem;
  color: #fff; }

.selection__acco-content {
  width: 0;
  overflow: hidden; }

.selection__acco-item--active .selection__acco-content {
  background: rgba(20, 20, 20, 0.8);
  color: #fff;
  width: 100%;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.selection__acco-text {
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%; }

.order {
  background: url(../img/order/order_bg.png) center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.container__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 480px) {
    .container__order {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }

.form {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.form__container {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .form__container {
      width: 80%; } }

.caption--order {
  text-align: center;
  margin-bottom: 10%; }
  @media screen and (max-width: 768px) {
    .caption--order {
      margin-top: 5vh; } }
  @media screen and (max-width: 480px) {
    .caption--order {
      margin-bottom: 0;
      font-size: 2.25rem;
      line-height: 2.25rem; } }

.form__row {
  margin-bottom: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%; }
  @media screen and (max-width: 480px) {
    .form__row {
      margin-bottom: 5px; } }

@media screen and (max-width: 480px) {
  .form__title {
    font-size: 0.75rem; } }

.form__block {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }
  .form__block--radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: .4;
    -ms-flex: .4;
    flex: .4;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .form__block--checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .form__block--button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    @media screen and (max-width: 480px) {
      .form__block--button {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }

.form__input {
  padding: 0.3125rem;
  background: #fff;
  border: none;
  border-radius: 0.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.form__big-text {
  width: 100%;
  height: 6.8em;
  resize: none;
  border-radius: 0.3125rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 480px) {
    .form__big-text {
      height: 4.8em; } }

.form__radio {
  margin-right: 0.625rem; }

.form__checkbox {
  margin-right: 0.625rem; }

.clear {
  font-family: 'Ubuntu';
  font-size: .9em;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: white;
  margin-left: 0.9375rem; }

.container--maps {
  height: 100vh;
  max-width: 100vw; }

.map {
  height: 100%;
  width: 100%; }

.map__hint {
  padding: 0.625rem;
  font-size: 1.25rem;
  line-height: 1;
  color: #ffffff;
  background-color: #f9b43b;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b), to(#f9b43b));
  background-image: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  border-radius: 1.25rem; }

.map__balloon {
  padding: 1.25rem;
  font-size: 1.875rem;
  line-height: 1;
  color: #ffffff;
  background-color: #f9b43b;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b), to(#f9b43b));
  background-image: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  border-radius: 1.25rem; }

.map__burger-img {
  float: right;
  height: 6.25rem;
  width: 6.25rem; }

.slider {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b), to(#f9b43b));
  background-image: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.container__slider {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.slider__content {
  width: 90% !important;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .slider__content {
      width: 70% !important; } }
  @media screen and (max-width: 480px) {
    .slider__content {
      width: 85% !important; } }

.slider__list-content {
  max-height: 650px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.slider__arrow {
  height: 90%;
  width: 5%;
  pointer-events: auto; }
  @media screen and (max-width: 480px) {
    .slider__arrow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.slider__arrow-icon {
  height: 30px;
  width: 30px;
  fill: white;
  pointer-events: auto; }
  .slider__arrow-icon--left {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .slider__arrow-icon--right {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }

.slider__item {
  width: 100%;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  @media screen and (max-width: 768px) {
    .slider__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .slider__item {
      min-height: initial; } }

.slider__item-burger {
  width: 48%; }
  @media screen and (max-width: 768px) {
    .slider__item-burger {
      width: 70%;
      margin-top: 60px; } }
  @media screen and (max-width: 480px) {
    .slider__item-burger {
      margin-top: 55px; } }

.slider__item-desc {
  width: 48%; }
  @media screen and (max-width: 768px) {
    .slider__item-desc {
      width: 90%;
      text-align: center; } }

.slider__burger-img {
  width: 98%; }

.caption--slider {
  color: white;
  line-height: 3.99562rem; }
  @media screen and (max-width: 768px) {
    .caption--slider {
      width: 100%;
      margin: 0 auto; } }
  @media screen and (max-width: 480px) {
    .caption--slider {
      width: 100%;
      margin: 0 auto;
      font-size: 2.5rem;
      line-height: 2.25rem; } }

.slider__item-text {
  font-size: 0.875rem;
  color: white; }

.slider__item-consist {
  width: 90px;
  height: 90px;
  background: #f08c33;
  border: .5px solid #e35028;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .slider__item-consist {
      width: 60px;
      height: 60px; } }
  @media screen and (max-width: 480px) {
    .slider__item-consist {
      width: 60px;
      height: 60px;
      top: 0; } }

.slider__item-consist-icon {
  fill: white;
  width: 46px;
  height: 44px; }
  @media screen and (max-width: 768px) {
    .slider__item-consist-icon {
      width: 33px;
      height: 32px; } }

.slider__item-consist-text {
  font-family: 'Gagalinregular';
  color: white;
  font-size: 0.875rem; }

.slider__item-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .slider__item-order {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.slider__item-price {
  font-family: 'Gagalinregular';
  font-size: 2.25rem;
  color: #e35028; }
  .slider__item-price--bigger {
    font-size: 4.5rem; }
    @media screen and (max-width: 480px) {
      .slider__item-price--bigger {
        font-size: 2.9375rem; } }
  @media screen and (max-width: 480px) {
    .slider__item-price {
      font-size: 1.75rem; } }

.slider__button {
  margin-left: 15px; }
  @media screen and (max-width: 480px) {
    .slider__button {
      margin-left: 10px; } }

.slider__item-calories {
  width: 60px;
  height: 90px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: url(../img/slider/kkal.png) center center no-repeat;
  background-size: contain; }
  @media screen and (max-width: 768px) {
    .slider__item-calories {
      left: initial;
      right: 20px;
      top: 20px;
      width: 50px;
      height: 80px; } }
  @media screen and (max-width: 480px) {
    .slider__item-calories {
      top: 0; } }

.pagination {
  position: fixed;
  z-index: 10;
  right: 3.375rem;
  top: 5.625rem; }
  @media screen and (max-width: 480px) {
    .pagination {
      display: none; } }
  @media screen and (max-width: 768px) {
    .pagination {
      display: none; } }

.pagination__link {
  display: block;
  width: 0.875rem;
  height: 0.875rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../img/hello/point.png) center center no-repeat; }

.pagination__link--active {
  border: 0.0625rem solid white;
  border-radius: 50%; }

.pagination__link:hover {
  border: 0.0625rem solid white;
  border-radius: 50%; }

.pagination__item {
  margin-bottom: 0.625rem; }

.pagination__item:last-child {
  margin-bottom: 0; }

.footer {
  display: none;
  width: 100%;
  background: url("../img/footer/footer.png") repeat center center;
  position: absolute;
  bottom: 0;
  padding: 0.4375rem 0; }

.footer__container {
  max-width: 945px;
  max-height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      padding-bottom: 1.875rem; } }

.footer__contacts, .footer__socials {
  width: 50%; }
  @media screen and (max-width: 480px) {
    .footer__contacts, .footer__socials {
      width: 100%; } }

@media screen and (max-width: 480px) {
  .footer__contacts {
    text-align: center;
    padding: 0;
    margin-bottom: 1.0625rem; } }

.contacts__address {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 0.875rem;
  color: #fff; }
  @media screen and (max-width: 480px) {
    .contacts__address {
      font-size: 0.9375rem; } }

.contacts__phone {
  text-decoration: none;
  vertical-align: middle;
  color: red; }

.phone__icon {
  width: 0.6875rem;
  height: 0.6875rem;
  margin-right: 0.25rem;
  fill: red; }

.phone__text {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 0.875rem; }
  @media screen and (max-width: 480px) {
    .phone__text {
      font-size: 0.9375rem; } }

.footer__socials {
  text-align: right; }
  @media screen and (max-width: 480px) {
    .footer__socials {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: center; }

.socials__item {
  margin-left: 0.9375rem; }

.socials__link-icon {
  width: 1.5625rem;
  height: 1.25rem;
  fill: #595959;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  .socials__link-icon:hover {
    fill: #fff; }
  @media screen and (max-width: 480px) {
    .socials__link-icon {
      width: 1.6875rem;
      height: 1.4375rem; } }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 5, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10000; }

.container--overlay {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.contentOverlay {
  position: relative;
  width: 400px;
  background: white;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font: 16px Helvetica, sans-serif;
  margin: 0; }
  @media screen and (max-width: 480px) {
    .contentOverlay {
      width: 80vw;
      height: 60vh; } }

.closeOverlay {
  font: 16px Helvetica, sans-serif;
  color: #f7b348;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  text-decoration: none; }

.contentOverlayText {
  color: black; }
  @media screen and (max-width: 768px) {
    .contentOverlayText {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0; } }

.reviews__titleOverlay {
  color: black;
  margin-left: 0; }
  @media screen and (max-width: 768px) {
    .reviews__titleOverlay {
      margin: 0; } }

.reviews__descOverlay {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: black;
  line-height: 1.5rem;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  color: black;
  margin: 0;
  margin-top: 20px; }
  @media screen and (max-width: 768px) {
    .reviews__descOverlay {
      margin-top: 2%;
      text-align: center; } }
  @media screen and (max-width: 768px) {
    .reviews__descOverlay {
      margin: 0; } }
