/* layout */
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

p {
  margin: 0; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

html, body {
  width: 100%;
  height: 100%;
  font-size: 16px; }

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1100px; }

.section {
  min-height: 100vh; }

body {
  font-family: 'Ubuntu', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  line-height: 1.42;
  color: #221f1f; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* section */
.header {
  position: absolute;
  z-index: 1;
  min-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.logo {
  display: inline-block;
  margin-top: 12px;
  padding-left: 77px; }

.menu {
  display: inline-block;
  vertical-align: middle;
  margin-left: 223px; }

.recieve {
  display: inline-block;
  margin-left: 11px; }

.menu__item {
  display: inline-block; }

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Ubuntu;
  font-size: 13px;
  color: white; }

.menu__item:after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: white;
  margin-right: 13px;
  margin-left: 13px; }

.menu__item:last-child:after {
  content: none; }

.logo__pic {
  width: 92px;
  height: 69px;
  background-size: contain;
  vertical-align: middle; }

.recieve {
  vertical-align: middle;
  width: 97px;
  height: 35px;
  background-color: #e45028;
  border: 0px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.caption {
  display: block;
  font-family: gagalinregular;
  font-size: 72px;
  line-height: 85px;
  color: #f9b43b;
  font-weight: 400;
  margin: 0px; }

.banner {
  position: relative;
  min-height: 100vh;
  min-height: 650px;
  background-image: url(../img/hello/video-bg.png);
  background-size: cover;
  width: 100%; }

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 650px;
  height: 100vh; }

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: .9;
  -ms-flex: .9;
  flex: .9;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.hero__text {
  color: #fff;
  font-family: 'lifehackmedium';
  font-size: 65px;
  font-weight: 400;
  text-transform: lowercase;
  line-height: 60px;
  color: #ffffff; }

.hero__pic {
  width: 42%; }

.hero__text {
  width: 40%; }

.hero__pic-img {
  max-width: 97%; }

.pagination {
  position: fixed;
  z-index: 10;
  right: 54px;
  top: 90px; }

.pagination__link {
  display: block;
  width: 14px;
  height: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../img/hello/point.png) center center no-repeat; }

.pagination__link--active {
  border: 1px solid white;
  border-radius: 50%; }

.pagination__link:hover {
  border: 1px solid white;
  border-radius: 50%; }

.pagination__item {
  margin-bottom: 10px; }

.pagination__item:last-child {
  margin-bottom: 0; }

.best {
  height: 100vh;
  min-height: 650px;
  width: 100%;
  background-image: url(../img/advantage/advg_bg.png);
  background-size: cover; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 6rem; }

.best__icon {
  width: 100%;
  height: 90px; }
  .best__icon-meat {
    fill: #e05132; }
  .best__icon-hand {
    fill: #f7b348; }
  .best__icon-natural {
    fill: #8bbe48; }

.best__tittle {
  text-align: center;
  font-family: 'lifehackmedium';
  font-size: 24px;
  color: #2f3234;
  line-height: 28.14px;
  margin-top: 20px; }

.best__desc {
  text-align: center;
  font-size: 14px;
  line-height: 24.07px;
  margin-top: 15px; }

.best__item {
  width: 28%; }

.caption--center {
  text-align: center; }

.caption--black {
  color: #303334; }

.caption--best {
  padding-top: 9rem; }

.reviews {
  width: 100%;
  height: 100vh;
  min-height: 650px; }

.reviews__list {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  margin: 0;
  padding: 0;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-size: cover;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  position: relative; }
  .reviews__item:hover .reviews__content {
    opacity: 1; }

.reviews__content {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  background: rgba(20, 20, 20, 0.7);
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.reviews__tittle {
  font-family: 'gagalinregular', Arial, serif;
  font-size: 14px;
  color: white;
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%; }

.reviews__desc {
  font-family: 'Ubuntu-Light', Arial, serif;
  font-size: 14px;
  font-weight: 300;
  color: white;
  line-height: 24px;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%; }

.reviews__btn {
  width: 110px;
  height: 35px;
  color: white;
  border: #2f3234;
  border-radius: 5px;
  background: #2f3234;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%; }

.team {
  height: 100vh;
  min-height: 650px;
  position: relative;
  background: url(../img/team/team_bg.png) center center no-repeat;
  background-size: cover; }

.team__container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.team__acco-item--active .team__acco-trigger {
  color: #f8b349; }
  .team__acco-item--active .team__acco-trigger:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.team__acco-item--active .team__acco-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.team__acco-item {
  margin-bottom: 10%; }
  .team__acco-item:last-child {
    margin-bottom: 0; }

.team__content {
  width: 60%; }

.caption--team {
  margin: 0;
  margin-top: 25%;
  margin-bottom: 10%;
  padding: 0; }

.team__acco-avatar {
  height: 100px;
  width: 100px; }

.team__acco-article {
  margin-left: 5%; }

.team__acco-article-tittle {
  font-size: 14px;
  font-weight: 700;
  color: #fff; }

.team__acco-article-text {
  font-size: 14px;
  color: #fff;
  margin-top: 10%; }

.team__acco-content {
  margin-top: 5%;
  margin-left: 5%;
  display: none; }

.team__acco-trigger {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  color: #fff;
  font-family: 'gagalinregular';
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .team__acco-trigger:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border: 9px solid transparent;
    border-top-color: #f8b349;
    border-bottom-width: 0px; }

.selection {
  height: 100vh;
  background-image: url(../img/selection/selection_bg.png);
  background-size: cover;
  position: relative; }

.selection__content {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 70%; }

.selection__acco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.selection__acco-item {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.selection__acco-trigger {
  border: 0;
  padding: 0;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .selection__acco-trigger--meat {
    background: url(../img/selection/meat.png) no-repeat;
    background-size: cover; }
  .selection__acco-trigger--vegan {
    background: url(../img/selection/vegan.png) no-repeat;
    background-size: cover; }
  .selection__acco-trigger--diet {
    background: url(../img/selection/diet.png) no-repeat;
    background-size: cover; }

.selection__acco-item-tittle {
  margin: 0;
  padding: 0;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  font-family: 'gagalinregular';
  font-size: 2.5rem;
  color: #fff; }

.selection__acco-content {
  width: 0;
  overflow: hidden; }

.selection__acco-item--active .selection__acco-content {
  background: rgba(20, 20, 20, 0.8);
  color: #fff;
  width: 100%;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.selection__acco-text {
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%; }

/*# sourceMappingURL=main.css.map */