.best {
    width: 100%;
    background-image: url(../img/advantage/advg_bg.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.best__list {
    display: flex;
    justify-content: center;
    padding-top: rem(96px);
    
    @include tablets {
        padding-top: rem(50px);
    }
    
    @include phones {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        padding-bottom: 100px;
    }
}

.best__icon {
    width: 100%;
    height: rem(90px);
    &-meat {
        fill: #e05132;
    }
    
    &-hand {
        fill: #f7b348;
    }
    
    &-natural {
        fill: #8bbe48;
    }
}

.best__pic {
    @include phones {
        width: 20%;
    }
}

.best__title {
    text-align: center;
    font-family: 'lifehackmedium';
    font-size: rem(24px);
    color: #2f3234;
    line-height: rem(28.14px);
    margin-top: rem(20px);

    @include phones {
        text-align: left;
        font-size: 1.2rem;
        margin-top: 0;
    }
}

.best__desc {
    text-align: center;
    font-size: rem(14px);
    line-height: rem(24.07px);
    margin-top: rem(15px);

    @include phones {
        text-align: left;
        margin-top: .4rem;
    }
}

.best__desc-text {
    @include phones {
        font-size: .8rem;
        line-height: rem(18px);
    }
}

.best__item {
    width: 28%;

    @include tablets {
        width: 29%;
    }

    @include phones {
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: space-between;
    }
}

.best__info {
    @include phones {
        width: 70%;
    }
}

.caption {
    &--center {
        text-align: center;

    }
    
    &--black {
        color: #303334;
    }
    
    &--best {
        padding-top: rem(100px);

        @include tablets {
            padding-top: 5rem;
        }
        @include phones {
            padding-top: 4rem;
        }
    }
}
