.best {
    width: 100%;
    background-image: url(../img/advantage/advg_bg.png);
    background-size: cover;
}

.best__list {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.best__icon {
    width: 100%;
    height: 90px;
    &-meat {
        fill: #e05132;
    }
    
    &-hand {
        fill: #f7b348;
    }

    &-natural {
        fill: #8bbe48;
    }
}

.best__title {
    text-align: center;
    font-family: 'lifehackmedium';
    font-size: 24px;
    color: #2f3234;
    line-height: 28.14px;
    margin-top: 20px;
}

.best__desc {
    text-align: center;
    font-size: 14px;
    line-height: 24.07px;
    margin-top: 15px;
}

.best__item {
    width: 28%;
}

.caption {
    &--center {
        text-align: center;
    }

    &--black {
        color: #303334;
    }

    &--best {
        padding-top: 9rem;
    }
}
