
.header {
    position: absolute;
    z-index: 1;
    min-width: 100%;
    box-sizing: border-box;
}

.container__header {
    min-height: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: rem(12px);
    padding-left: rem(77px);

    @include tablets {
        padding-left: rem(20px)
    }
}  

.menu__container {
    text-align: right;
}

.header__menu {
    vertical-align: middle;
    margin-right: rem(20px);

    @include tablets () {
        display: none;
    }
}

.header__menu--active {

    @include tablets {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        background: rgba(50, 52, 52, .9);
    
    .menu__item--recieve {
        display: none;
    }

    .menu__list {
        flex-direction: column;
        align-items: center;
    }

    .menu__item {
        margin-top: 10px;
        &:before {
            display: block;
            margin: 0 auto;
        }
        
    }

    .menu__link {
        font-size: 1.5rem;
    }
}
}

.hamburger-menu-link {
    display: none;
    
    @include tablets {
        border: none;
        display: flex;
        align-items: center;
    }
}

.hamburger-menu-link-container {
    @include tablets {
        z-index: 1;
    }
}

.hamburger-menu-link__bars {
    text-decoration: none;
    border: 0;
    margin-right: 20px;
    height: 25px;
    width: 25px;
    background: url(../img/header/menu_btn.png) center center no-repeat;
    background-size: cover;

    @include tablets {
        z-index: 1;
        &--active {
            background: url(../img/header/close.png) center center no-repeat;
            background-size: cover;
    }
    
    }
}


.menu__list {
    display: flex;
    align-items: center;
}

.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Ubuntu;
    font-size: rem(13px);
    color: white;
}

.menu__item:before {
    content:"";
    display: inline-block;
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    vertical-align: middle;
    background-color: white;
    margin-right: rem(13px);
    margin-left: rem(13px);
}

.menu__item:first-child:before {
    content: none;
}

.menu__item:last-child:before {
    content: none;
}

.menu__item--recieve {
    margin-left: rem(11px);
}

.logo__pic {
    width: rem(92px);
    height: rem(69px);
    background-size: contain;
    vertical-align: middle;
}   

.recieve {
    vertical-align: middle;
    width: rem(97px);
    height: rem(35px);
    background-color: #e45028;
    border: rem(0px);
    border-radius: rem(5px);
    text-transform: uppercase;
    font-family: Ubuntu;
    font-size: rem(13px);
    font-weight: 500;
    text-align: center;
    color: white;
    box-sizing: border-box;

    @include tablets {
        margin-right: rem(20px);
    }
}