.caption {
    display: block;
    font-family: gagalinregular;
    font-size: rem(72px);
    line-height: rem(85px);
    color: #f9b43b;
    font-weight: 400;
    margin: rem(0px);

    @include tablets {
        font-size: rem(60px);
        text-align: center;
    }
}

.hero {
    position: relative;
    background-image: url(../img/hello/video-bg.png);
    background-size: cover;
    width: 100%;
}

.container__hero {
    display: flex;
    justify-content: center;
}

.hero__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: .9;
    align-items: center;
    justify-content: center;

    @include tablets {
        flex-direction: column;
    }
}
  
.hero__desc {
    color: #fff;
    font-family: 'lifehackmedium';
    font-size: rem(65px);
    font-weight: 400;
    text-transform: lowercase;
    line-height: rem(60px);
    color: #ffffff;

    @include tablets {
        font-size: rem(55px);
        text-align: center;
    }
}

.hero__pic {
    width: 42%;

    @include tablets {
        width: 60%;
    }
}

.hero__text {
    width: 40%;

    @include tablets {
        width: 100%;
    }
}  

.hero__pic-img {
   max-width: 97%;
}

.pagination {
    position: fixed;
    z-index: 10;
    right: rem(54px);
    top: rem(90px);
}

.pagination__link {
    display: block;
    width: rem(14px);
    height: rem(14px);
    box-sizing: border-box;
    background: url(../img/hello/point.png) center center no-repeat;
}

.pagination__link--active {
    border: rem(1px) solid white;
    border-radius: 50%;
}

.pagination__link:hover {
    border: rem(1px) solid white;
    border-radius: 50%;
}

.pagination__item {
    margin-bottom: rem(10px);
}

.pagination__item:last-child {
    margin-bottom: 0;
}


