.order {
    background: url(../img/order/order_bg.png) center center no-repeat;
    background-size: cover;
}

.container__order {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    
    @include tablets {
        align-items: center;
        flex-direction: column;
    }
}

.form__container {
    width: 50%;
    
    @include tablets {
    width: 80%;
    }
}

.caption--order {
    text-align: center;
    margin-bottom: 10%;
    margin-top: 15vh;
    
    @include tablets {
    margin-top: 5vh;

    }
}


.form__row {
    margin-bottom: rem(20px); 
    display: flex;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

.form__block {
    display: block;
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }

    &--radio {
        display: flex;
        align-items: center;
        flex: .4;
        justify-content: flex-start;
    }

    &--checkbox {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &--button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

.form__input {
    padding: rem(5px);
    background: #fff;
    border: none;
    border-radius: rem(5px);
    width: 100%;
    box-sizing: border-box;
}

.form__big-text {
    width: 100%;
    height: 6.8em;
    resize: none;
    border-radius: rem(5px);
    box-sizing: border-box;
}

.form__radio {
    margin-right: rem(10px);
}

.form__checkbox {
    margin-right: rem(10px);
}

.clear {
    font-family: 'Ubuntu';
    font-size: .9em;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    color: white;
    margin-left: rem(15px);
}