.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 5, .7);;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }
  
  .container--overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .contentOverlay {
    position: relative;
    width: 400px;
    background: white;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font: 16px Helvetica, sans-serif;
    margin: 0;
  }
  
  .closeOverlay {
    font: 16px Helvetica, sans-serif;
    color: #f7b348;
    position: absolute;
    right: 5px;
    top: 5px;
    // background: #d00;
    // border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
  }

  .contentOverlayText {
      color: black;
      @include tablets {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          margin: 0;
      }
  }
  
  .reviews__titleOverlay {
      color: black;
      margin-left: 0;

      @include tablets {
          margin: 0;
      }
  }

  .reviews__descOverlay {
      color: black;
      margin: 0;
      margin-top: 20px;
      @include tablets {
        margin: 0;
    }
  }