.header {
    position: absolute;
    z-index: 1000;
}

.logo {
    display: inline-block;
    margin-top: 12px;
    margin-left: 77px;
}    

.menu {
    display: inline-block;
    vertical-align: middle;
    margin-left: 223px;
}

.recieve {
    display: inline-block;
    margin-left: 11px;
}

.menu__item {
    display: inline-block;
}

.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Ubuntu;
    font-size: 13px;
    color: white;
}

.menu__item:after {
    content:"";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: white;
    margin-right: 13px;
    margin-left: 13px;
}

.menu__item:last-child:after {
    content: none;
}

.logo__pic {
    width: 92px;
    height: 69px;
    background-size: contain;
    vertical-align: middle;
}   

.recieve {
    vertical-align: middle;
    width: 97px;
    height: 35px;
    background-color: #e45028;
    border: 0px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: white;
    box-sizing: border-box;
}
.banner__item {
    padding-top: 76px;
    position: relative;
}

.banner__pic {
    position: relative;
    display: inline-block;
    margin-left: 130px;
}

.banner__text {
    display: inline-block;
    vertical-align: top;
    margin-top: 135px;
}

.caption {
    display: block;
    font-family: gagalinregular;
    font-size: 72px;
    line-height: 85px;
    color: #f9b43b;
    font-weight: 400;
    margin: 0px;
}

.banner__desc {
    display: block;
    font-family: 'lifehackmedium';
    font-size: 65px;
    font-weight: 400;
    text-transform: lowercase;
    line-height: 60px;
    color: #ffffff;
    margin: 0;
    margin-top: 15px;
}

.pagination {
    position: absolute;
    z-index: 10;
    right: 54px;
    top: 90px;
}

.pagination__link {
    display: block;
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
}

.pagination__item {
    margin-bottom: 15px;
}

.pagination__item:last-child {
    margin-bottom: 0;
}

.banner {
    position: relative;
    height: 650px;
    background-image: url(../../img/hello/video-bg.png);
    background-size: cover;
    min-width: 1140px;
}

.banner:before {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    background-image: url(../../img/hello/texture.png);
    position: absolute;
    min-width: 1140px;
}
